* {
    font-family: "Montserrat", serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    overflow: hidden;
}
.main {
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}
.sidebar {
    background-color:#121212;
    width:340px;
    border-radius: 1rem;
    margin-right:0.1rem;
}
.main_content {
    background-color:#121212;
    flex:1;
    border-radius: 1rem;
    overflow:auto;
    padding: 0 1.5rem 0 1.5rem;
}
.music_player {
    background-color:black;
    position: fixed;
    bottom: 0;
    width:100%;
    height: 72px;
}
h2 {
    background-color: #121212;
}
a {
    text-decoration: none;
    color:#fff;
}
.nav {
    background-color:#121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}
.nav_option {
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}
.nav_option:hover {
    opacity: 1;
}
.nav_option i {
    font-size: 1.25rem;
}
.nav_option a {
    font-size: 1rem;
    margin-left: 1rem;
}
.library
{
    background-color:#121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}
.options {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.lib_option img {
    height: 1.25rem;
    width:1.25rem;
}
.icons {
    font-size: 1.25rem;
    display: flex;
}
.icons i {
    opacity: 0.7;
    margin-right: 1rem;

}
.icons i:hover {
    opacity: 1;
}
.box {
    background-color:#232323;
    height: 7rem;
    border-radius: 0.75rem;
    margin: 0.2rem 0 0.2rem 0;
    padding: 12px 12px 12px 12px;
    margin-bottom: 24px;
}
.box-p1 {
    font-size: 1rem;
    font-weight: 600;
    background-color: #232323;
}
.box-p2 {
    font-size: 0.85rem;
    opacity: 0.9;
    margin-top: 12px;
    background-color: #232323;
}
.badge {
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 1.25rem;
    height: 2rem;
    width:fit-content;
}
.dark_badge {
    background-color: #000;
    color:#fff;
}
.sticky_nav {
    position: sticky;
    top:0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 10;
}
.sticky_nav_icons {
    margin-left: 0.75rem;
    background-color: #121212;
    
}
.sticky_nav_options {
    display: flex;
    justify-content:center ;
    align-items: center;

}
.nav_item {
    margin-right: 1rem;
}

@media (max_width:1000px) {
    .hide {
    display: none;
    }
}
.card {
    margin-top: 5px;
    background-color:#232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
}
.cards_container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    background-color: #121212;
    margin-bottom: 1rem;
}
.card_img {
    width:100%;
    border-radius: 0.5rem;
}
.card_title {
    font-weight: 700;
    background-color: #232323;
}
.card_info {
    margin-top: 8px;
    font-size: 0.85rem;
    opacity: 0.5;
    background-color: #232323;
}
.footer {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:900px;
    margin-left: 20px;
    border: 1px solid black;
    border-radius: 8px;
}
.line {
    width:90%;
    height: 30%;
    border-top:1px solid white ;
    opacity: 0.4;
}
.music_player {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.album {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.album_pic {
    margin-right: 30px;
    margin-left: 40px;
}
.album_p1 {
    height: 16px;
    margin-right: 10px;
}
.album_p2 {
    height: 24px;
    margin-right: 10px;
}
.album_content {
    margin-right: 30px;
    font-size: 10px;
}
.album {
    width:25%;
}
.player {
    width:50%;

}
.controls {
    width:25%;
    
}
.player_controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player_control_icon {
    height: 16px;
    margin-right: 20px;
    opacity: 0.7;
}
.player_control_icon:hover {
    opacity: 1;
}
.extra_bar {
    display: flex;
    align-items: center;
    justify-content: center;
}
.progess_bar {
    width:60%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}
.progess_bar::-webkit-slider-runnable-track {
    background-color: #ddd;
    border-radius: 100px;
    height: 2px;
}
.progess_bar::-webkit-slider-thumb {
    appearance: none;
    height: 16px;
    width: 16px;
    background-color: #1bd760;
    /* border-radius: 50%; */
    margin-top: -6px;
}
